body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/img/background.jpg");

  background-repeat: no-repeat;
  border: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #f6d6a7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #f4f4f4;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #fbe3df;
}
.grass {
  background-color: #e2f9e1;
}
.water {
  background-color: #e0f1fd;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  padding: 3rem 0.5rem;
  color: rgb(247, 247, 247);
}
.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(22, 22, 22);
}
.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  margin: 0.3rem;
  border: 3px solid #333;
  border-radius: 0.4rem;
  min-width: 180px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
  max-width: 20rem;
  background-color: #333;
  opacity: 0.9;
  color: #fff;
}
h3 {
  margin-bottom: 0.2rem;
}
.thumb-container .number {
  border-radius: 1rem;
  padding: 0.3rem 0.5rem;
  background-color: #ffd322;
  color: rgb(22, 22, 22);
}
.thumb-container img {
  width: 120px;
  height: 120px;
}
.thumb-container small {
  text-transform: capitalize;
}
.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.detail-wrapper button {
  color: rgb(22, 22, 22);
  padding: 0.5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.185);
}
.load-more {
  border-radius: 3px;
  border: 1px solid #ffd322;
  color: #444;
  padding: 0.5rem 1.5rem;
  min-width: 10%;
  margin-top: 1rem;
  margin-bottom: 5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #ffd322;
  transition: background 0.2s ease-in-out;
  display: inline-block;
  margin-left: 50%;
  padding: auto;
  text-align: center;
}

@media (max-width: 500px) {
  .load-more {
    margin-left: 35vw;
  }
}

.navbar {
  background-color: #333;
  text-align: center;
  padding: 5px;
  font-size: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}

.text {
  color: #fe5858;
  text-decoration: none;
  padding: 0 10px;
  font-size: 25px;
}

.logo {
  width: 15%;
}

.btn-input {
  color: #333;
  text-decoration: none;
  border: 2px solid #333;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  width: 6rem;
  margin: auto;
  margin-top: 2rem;
}

.btn-input:hover {
  background-color: #ffd322;
  color: #333;
  text-decoration: none;
  border: 2px solid #333;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  width: 6rem;
  margin: auto;
  margin-top: 2rem;
}

.input-pokedex {
  margin: auto;
  margin-top: 1rem;
  width: 20rem;
  height: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 3px;
}

.btn-connexion {
  background-color: #ffd322;
  color: #333;
  text-decoration: none;
  border: 3px solid #2a68b0;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  width: 7rem;
  height: 2rem;
  float: right;
  margin-right: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
}
