.btn-input {
  color: #333;
  text-decoration: none;
  border: 2px solid #333;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  width: 8rem;
  margin: auto;
  margin-top: 2rem;
}

.btn-input:hover {
  background-color: #ffd322;
  color: #333;
  text-decoration: none;
  border: 2px solid #333;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  width: 6rem;
  margin: auto;
  margin-top: 2rem;
}

.input-pokedex {
  margin: auto;
  margin-top: 1rem;
  width: 20rem;
  height: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 3px;
}

.btn-add {
  color: #333;
  text-decoration: none;
  border: 3px solid #2a68b0;
  text-align: center;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: #ffd322;
  margin-left: 5.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  width: 10rem;
  height: 2.5rem;
  font-family: "Courier New", Courier, monospace;
}

.btn-add:hover {
  scale: 1.1;
}
