/* Path: src\style\style.css */
/* Style Navbar */

.navbar {
  background-color: #333;
  text-align: left;
  padding: 5px;
  font-size: 5px;
  text-align: center;
  padding: 2px;
  font-size: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  margin-top: 1.5rem;
  margin-left: 1rem;
  float: left;
}

.text {
  color: #fe5858;
  text-decoration: none;
  padding: 0 10px;
  font-size: 25px;
}

.logo {
  width: 7%;
  height: 7%;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  align-items: center;
}

.btn-connexion {
  background-color: #ffd322;
  color: #333;
  text-decoration: none;
  border: 1.5px solid #2a68b0;
  padding: 5px;
  border-radius: 6px;
  padding: 2px;
  text-align: center;
  width: 5.5rem;
  height: 1.8rem;
  float: right;
  margin-right: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  margin-top: 1.3rem;
}

.btn-connexion:hover {
  background-color: #ffd322;
  color: #333;
  text-decoration: none;
  border: 1.5px solid #fe5858;
  scale: 1.1;
}

@media screen and (max-width: 1280px) {
  .navbar {
    background-color: #333;
    text-align: left;
    padding: 5px;
    font-size: 5px;
    text-align: center;
    padding: 2px;
    font-size: 20px;
  }
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    margin-top: 1.5rem;
    margin-left: 1rem;
    float: left;
  }
  .text {
    color: #fe5858;
    text-decoration: none;
    padding: 0 10px;
    font-size: 25px;
  }
  .logo {
    width: 7%;
    height: 7%;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
  }
  .btn-connexion {
    background-color: #ffd322;
    color: #333;
    text-decoration: none;
    border: 1.5px solid #2a68b0;
    padding: 5px;
    border-radius: 6px;
    padding: 2px;
    text-align: center;
    width: 5.5rem;
    height: 1.8rem;
    float: right;
    margin-right: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
    margin-top: 1.3rem;
  }
  .btn-connexion:hover {
    background-color: #ffd322;
    color: #333;
    text-decoration: none;
    border: 1.5px solid #fe5858;
    scale: 1.1;
  }
}

@media (max-width: 420px) {
  .logo {
    display: none;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 15%;
    height: 15%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 10%;
    height: 10%;
  }
}
@media (min-width: 1024px) {
  .logo {
    width: 12%;
    height: 12%;
  }
}
@media (min-width: 1200px) {
  .logo {
    width: 10%;
    height: 10%;
  }
}
@media (min-width: 1400px) {
  .logo {
    width: 10%;
    height: 10%;
  }
}
